.aside{
    position: fixed;
    left: 25px;
    top: 30px;
    background: var(--body-color);
    box-shadow: 0 5px 15px ;
    border-radius: 15px;    
    padding: 2.5rem;
    width: 110px ;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    transition: .3s;
}
.img_logo{
    padding-right: 2rem;
    height: 90px;
    max-width: 7rem;
    position: relative;
  left: -25px;
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav__link{
    font-size: 1rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
}

.copyright{
    color: black;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    font-weight: 500;

}

.nav__toggle{
    position: fixed;
    top: 1.25rem;
    left: 1.875rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--body-color);
    border: 1px solid #e8dfec;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .3s;
}


  
@media screen and (max-width: 1024px) {
    .aside{
        left: -110px;
    }

    .nav__toggle{
        display: flex;
    }

    .nav__toggle-open {
        left: 140px;
    }

    .show-menu{
        left: 0;
    }
}